@model IEnumerable<SalesMebProject.Models.Seller>
@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Create New</a> 
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th>
        </tr>  
    </thead>
    <tbody>
        @foreach (var item in Model) {
             <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.BaseSalary)
                </td>
                <td>
                    <a asp-action="Edit" assp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" assp-route-id="@item.Id">Datails</a>
                    <a asp-action="Delete" assp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
         }
    </tbody>
</table>

